@import url(../public/fonts/fontiran.css);

/* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */

body {
	font-family: iranyekan !important;
	text-align: justify;
	/* direction: rtl; */
	
}

.inMiddle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-left: auto;
	margin-right: auto;
}